<%provide(:title, 'About Us')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
        This <a href="http://railstutorial.org/">Ruby on Rails Tutoral</a>
        is a project to make a book and screencasts to teach web development is the sample application for the tutorial.
      </thead>
    </p>
  </body>
</html>
